
  
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<mat-toolbar>
    <span>Members List</span>
  </mat-toolbar>
<div class="table-container mat-elevation-z8">
    
<table mat-table [dataSource]="memberDataSource" matSort >

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name.first}} {{element.name.last}}</td>
  </ng-container>

  <!-- Age Column -->
  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Age </th>
    <td mat-cell *matCellDef="let element"> {{element.age}} </td>
  </ng-container>

  <!-- Phone Column -->
  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
    <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <!-- Company Column -->
  <ng-container matColumnDef="company">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Company </th>
    <td mat-cell *matCellDef="let element"> {{element.company}} </td>
  </ng-container>

  <!-- Add Delete Column -->
  <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Delete/Add </th>
      <td mat-cell *matCellDef="let element" > 
          <button mat-raised-button  color="warn" focusable="false" (click)="deleteMember(element)">
              <i class="fa fa-times mat-icon"></i> Delete
            </button>  &nbsp;&nbsp;
            <button mat-raised-button  color="primary" focusable="false" (click)="openAddDialogue(element)">
                <i class="fa fa-times mat-icon"></i> Add
              </button>
      </td>
    </ng-container>

    <!-- No of events registered Column -->
  <ng-container matColumnDef="registeredEvents">
      <th mat-header-cell *matHeaderCellDef> Registered Events </th>
      <td mat-cell *matCellDef="let element"> {{element.events.length}} </td>
    </ng-container>

     <!-- Locate on calendar Column -->
  <ng-container matColumnDef="locateOnCalendar">
      <th mat-header-cell *matHeaderCellDef > Action </th>
      <td mat-cell *matCellDef="let element">
          <button mat-raised-button  color="primary" focusable="false" (click)="openRegisteredEventsDailogue(element)">
              <i class="fa fa-times mat-icon"></i> Locate on Calendar
            </button>
      </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="membersColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: membersColumns;"></tr>
</table>

</div>





<mat-toolbar>
    <span>Events List</span>
  </mat-toolbar> 
<div class="table-container mat-elevation-z8">
    
<table mat-table [dataSource]="eventDataSource" >

  <!-- Organizer Column -->
  <ng-container matColumnDef="organizer">
    <th mat-header-cell *matHeaderCellDef> Organizer </th>
    <td mat-cell *matCellDef="let element"> {{element.organizer.first}} {{element.organizer.last}}</td>
  </ng-container>

  <!-- Company Column -->
  <ng-container matColumnDef="company">
    <th mat-header-cell *matHeaderCellDef> Company </th>
    <td mat-cell *matCellDef="let element"> {{element.company}} </td>
  </ng-container>

  <!-- About Column -->
  <ng-container matColumnDef="about">
    <th mat-header-cell *matHeaderCellDef> About </th>
    <td mat-cell *matCellDef="let element"> {{element.about}} </td>
  </ng-container>

  <!-- Scheduled on Column -->
  <ng-container matColumnDef="scheduled_at">
    <th mat-header-cell *matHeaderCellDef> Scheduled on </th>
    <td mat-cell *matCellDef="let element"> {{element.scheduled_at}} </td>
  </ng-container>

  <!-- Duration Column -->
  <ng-container matColumnDef="duration">
    <th mat-header-cell *matHeaderCellDef> Duration </th>
    <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
  </ng-container>

   <!-- Capacity Column -->
   <ng-container matColumnDef="capacity">
      <th mat-header-cell *matHeaderCellDef> Capacity </th>
      <td mat-cell *matCellDef="let element"> {{element.capacity}} </td>
    </ng-container>

     <!-- Hide/Show Column -->
   <ng-container matColumnDef="hideShowEvent">
    <th mat-header-cell *matHeaderCellDef> Hide/Show Event </th>
    <td mat-cell *matCellDef="let element"> 
      <mat-slide-toggle checked (change)='handleEventVisibility($event,element)'></mat-slide-toggle>
    </td>
  </ng-container>

 

  <tr mat-header-row *matHeaderRowDef="eventsColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: eventsColumns;"></tr>
</table>

</div>



